---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>

<style lang="stylus" is:global>
body
  margin 0
  font-family 'Montserrat', sans-serif
  font-size 14px
ul
  margin 0
  padding 0
  list-style-type none
h1
  font-size 45px
  color white
  font-weight bold
  text-align center
a
  text-decoration none
</style>