<div class="footer-nav">
  <div class="footer-nav-wrapper">
    <div class="footer-nav-col">
      <ul>
        <li>tps</li>
        <li>link1</li>
        <li>link2</li>
      </ul>
    </div>
    <div class="footer-nav-col">
      <ul>
        <li>tps</li>
        <li>link1</li>
        <li>link2</li>
      </ul>
    </div>
    <div class="footer-nav-col">
      <ul>
        <li>tps</li>
        <li>link1</li>
        <li>link2</li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <p>Copyright © 2023 The Philippine Simulacra. All Rights Reserved.</p>
</footer>

<style lang="stylus">
footer
  border-top 1px solid black
  padding 10px
  p
    text-align center
.footer-nav
  padding 50px
.footer-nav-wrapper
  display flex
  justify-content space-evenly
</style>