<header>
  <div class="header-wrapper">
    <div class="logo">
      <a href="/tps/"><img src="/tps/tps-logo.png" width="100" height="33.75" alt="tps-logo.png" /></a>
    </div>
    <div class="header-nav">
      <ul>
        <li><a href="/tps/">Home</a></li>
        <li><a href="/tps/about/">About</a></li>
        <li><a href="/tps/services/">Services</a></li>
        <li><a href="/tps/contact/">Contact</a></li>
        <li><a class="take-action" href="#">take action</a></li>
      </ul>
    </div>
  </div>
</header>

<style lang="stylus">
header
  padding 40px
  background-color transparent
  position absolute
  top 0
  left 0
  width 100%
  max-width 100vw
  box-sizing border-box
  z-index 1
.header-wrapper
  display flex
  justify-content space-around
.take-action
  padding 15px 30px !important
  background-color #1a6c7a
  text-transform uppercase
  font-size 12px !important
  letter-spacing 2px
  font-weight 500
  margin-left 10px
  transition all .3s
  &:hover
    color white
    background-color #153243
.header-nav ul li
  display inline
  a
    color white
    font-size 16px
    text-decoration none
    padding 1em 1em
</style>